@import "tailwindcss";

@theme {
    --color-siv-yellow: #FFE13D;
    --color-siv-blue: #71ACEC;

    --font-miskan: 'Miskan', 'sans-serif';
}

@font-face {
    font-family: Miskan;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Miskan.ttf") format("woff2");
}