---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="flex flex-col items-center justify-center min-h-screen">
        <img src="/logo.png" alt="SIV Logo" class="w-72 md:w-96"/>
        <h1 class="font-miskan text-4xl md:text-5xl">Coming Soon</h1>
    </div>
</BaseLayout>