---
import EmptyLayout from "../layouts/EmptyLayout.astro";
---
<EmptyLayout>
    <div class="flex flex-col items-center justify-center min-h-screen">
        <img src="/logo.png" alt="SIV Logo" class="w-72 md:w-96 p-8"/>
        <h1 class="font-miskan text-4xl md:text-5xl">Coming Soon</h1>
    </div>
</EmptyLayout>