---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";

const menu = [
    {
        title: "Galleria",
        href: "/",
    },
    {
        title: "Calendari",
        href: "https://summerisvolley.it/hub/visualizzaCalendario.php",
    },
    {
        title: "Gironi",
        href: "https://summerisvolley.it/hub/visualizzaGironi.php",
    },
    {
        title: "Gare",
        href: "https://summerisvolley.it/hub/gare.php",
    },
    {
        title: "Classifica",
        href: "https://summerisvolley.it/hub/visualizzaClassifica.php",
    },
    {
        title: "Fasi finali",
        href: "https://summerisvolley.it/hub/fasiFinali.php",
        disabled: true,
    },
];
---

<BaseLayout>
    <div class="container mx-auto flex flex-col items-center justify-center">
        <div class="mt-4 md:mt-10 grid grid-cols-2 justify-center align-middle gap-4">
            {menu.map((item) => (
                    <Button value={item.title} href={item.href} disabled={item.disabled}/>
            ))}
        </div>
    </div>
</BaseLayout>