---
import "../styles/global.css";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Astro</title>
</head>
<body>
<div class="flex flex-col items-center justify-center min-h-screen">
    <img src="/siv_logo.png" alt="SIV Logo" class="w-72 md:w-96"/>
    <h1 class="font-miskan text-4xl md:text-5xl">Coming Soon</h1>
</div>
</body>
</html>
