---

---
<div class="mx-auto flex flex-col items-center justify-center gap-8 mt-24">
    <p class="text-xl">Nessuna immagine trovata</p>
    <p class="text-xs">
        E fatemele fare prima 🙃
        <br>
        -VDB
    </p>
</div>