---
interface Props {
    homepage?: boolean
}

---

<header id="header">
    <div class="flex flex-col items-center justify-between w-full p-4">
        <a href={import.meta.env.BASE_URL} class="-m-1.5 p-1.5">
            <span class="sr-only">Race Time Go</span>
            <img class="h-24 md:h-32 w-auto" src={`${import.meta.env.BASE_URL}/logo.png`} alt="">
        </a>
    </div>
</header>
