---
import {Image, getImage} from "astro:assets";
import type {ImageMetadata} from "astro";

const matches = import.meta.glob("/src/assets/sponsors/*.{jpeg,jpg,png}", {eager: true}) as Record<string, { default: ImageMetadata; }>;
const images = Object.values(matches).map((image) => image.default)
---

<!--Fixed view (desktop) -->
<div class="w-full lg:inline-flex flex-nowrap py-8 justify-center overflow-hidden hidden">
    <ul class="flex gap-5 items-center justify-center md:justify-start [&_img]:max-w-none">
        {
            images.map(image => (
                    <li>
                        <Image
                                src={image}
                                height={80}
                                alt=""
                                quality={50}
                                loading="eager"
                        />
                    </li>
            ))
        }
    </ul>
</div>

<!--Animated view (mobile and tablets) -->
<div class="w-full inline-flex flex-nowrap py-8 overflow-hidden lg:hidden">
    <ul class="flex gap-5 items-center justify-center md:justify-start [&_img]:max-w-none animate-infinite-scroll">
        {
            images.map(image => (
                    <li>
                        <Image
                                src={image}
                                height={70}
                                alt=""
                                quality={50}
                                loading="eager"
                        />
                    </li>
            ))
        }
    </ul>
    <ul class="flex gap-5 items-center justify-center md:justify-start [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
        {
            images.map(image => (
                    <li>
                        <Image
                                src={image}
                                height={70}
                                alt=""
                                quality={50}
                                loading="eager"
                        />
                    </li>
            ))
        }
    </ul>
</div>