---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Sponsors from "../components/Sponsors.astro";
import VDB from "../components/VDB.astro";
import BaseHead from "../components/BaseHead.astro";

interface Props {
    title?: string;
    description?: string;
    keywords?: string;
}

const {title, description, keywords} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead title={title} description={description} keywords={keywords}/>
</head>

<body class="flex flex-col min-h-dvh">
<Header/>
<main class='flex-1'>
    <slot/>
</main>
<Sponsors/>
<div class="text-center p-8">
    <VDB/>
</div>
</body>
</html>