---
import "../styles/global.css";
import {SITE_TITLE} from "../consts";
import Header from "../components/Header.astro";
import Sponsors from "../components/Sponsors.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{SITE_TITLE}</title>
</head>
<body class="flex flex-col min-h-dvh">
<main class='flex-1'>
    <slot/>
</main>
</body>
</html>